<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Online Petition Service</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@3"></script>
    <div id="app">
      <div class="card mt-3 col-lg-5 mx-auto">
        <div class="card-body">
          <div>
            <label for="form1">คำร้อง</label>
            <select v-model="petition" class="form-control" id="form1">
              <option
                value="คำร้องขอดูคะแนน/เปิดข้อสอบ (Request for check examination result)"
              >
                คำร้องขอดูคะแนน/เปิดข้อสอบ (Request for check examination
                result)
              </option>
              <option
                value="คำร้องขอตรวจสอบการลงทะเบียน และผลการเรียน (Request for checking status of adding or withdrawing course)"
              >
                คำร้องขอตรวจสอบการลงทะเบียน และผลการเรียน (Request for checking
                status of adding or withdrawing course)
              </option>
              <option
                value="คำร้องขอถอนวิชาเรียนต่ำกว่าเกณฑ์ (Request for register less credits than those stipulated)"
              >
                คำร้องขอถอนวิชาเรียนต่ำกว่าเกณฑ์ (Request for register less
                credits than those stipulated)
              </option>
              <option
                value="คำร้องขอถอนวิชาเรียนล่าช้ากรณีพิเศษ (Request for withdrawing course)"
              >
                คำร้องขอถอนวิชาเรียนล่าช้ากรณีพิเศษ (Request for withdrawing
                course)
              </option>
              <option
                value="คำร้องขอผ่อนผันการลงทะเบียนล่าช้ากรณีพิเศษ (Request for late course registration)"
              >
                คำร้องขอผ่อนผันการลงทะเบียนล่าช้ากรณีพิเศษ (Request for late
                course registration)
              </option>
            </select>
          </div>
          <div>
            <label for="form2">คำนำหน้าชื่อ</label>
            <select class="form-control" v-model="name" id="form2">
              <option value="นาย">นาย</option>
              <option value="นาง">นาง</option>
              <option value="นางสาว">นางสาว</option>
            </select>
          </div>
          <div>
            <label for="firstname">ชื่อจริง</label>
            <input
              type="text"
              class="form-control"
              id="firstname"
              v-model="firstname"
            />
          </div>
          <div>
            <label for="lastname">นามสกุล</label>
            <input
              class="form-control"
              type="text"
              id="lastname"
              v-model="lastname"
            />
          </div>
          <div>
            <label for="faculty">คณะ</label>
            <select class="form-control" v-model="faculty" id="faculty">
              <option value="คณะเทคโนโลยีและการจัดการอุตสาหกรรม">
                คณะเทคโนโลยีและการจัดการอุตสาหกรรม
              </option>
            </select>
          </div>
          <div>
            <label for="degreelevel">ภาควิชา</label>
            <select class="form-control" v-model="degreelevel" id="degreelevel">
              <option value="ภาควิชาเทคโนโลยีสารสนเทศ">
                ภาควิชาเทคโนโลยีสารสนเทศ
              </option>
            </select>
          </div>
          <div>
            <label for="class">ระดับปริญญา</label>
            <select class="form-control" id="class" v-model="classdata">
              <option value="ปริญญาตรี">ปริญญาตรี</option>
              <option value="ปริญญาโท">ปริญญาโท</option>
              <option value="ปริญญาเอก">ปริญญาเอก</option>
            </select>
          </div>
          <div>
            <label for="status">สถานะการศึกษา</label>
            <select class="form-control" id="status" v-model="status">
              <option value="ปกติ">ปกติ</option>
            </select>
          </div>
          <div>
            <label for="tel">เบอร์โทร</label>
            <input class="form-control" type="text" id="tel" v-model="tel" />
          </div>
          <div>
            <label for="email">อีเมล</label>
            <input
              class="form-control"
              type="email"
              id="email"
              v-model="email"
            />
          </div>

          <div class="text-center mt-2">
            <button @click="add()" class="btn btn-success">ยื่นคำร้อง</button>
            <a href="index.html" class="btn btn-danger ms-2">ยกเลิก</a>
          </div>
        </div>
      </div>
    </div>
    <script>
      Vue.createApp({
        created() {
        const data = localStorage.getItem('data');
        if (data == undefined) {
            window.location.href = 'login.html';
        }
        },
        data() {
          return {
            petition: "",
            name: "",
            firstname: "",
            lastname: "",
            tel: "",
            email: "",
            status: "",
            classdata: "",
            faculty: "",
            degreelevel: "",
          };
        },
        methods: {
          add() {
            axios
              .post("http://localhost:5000/api/petition/", {
                petition: this.petition,
                name: this.name,
                firstname: this.firstname,
                lastname: this.lastname,
                tel: this.tel,
                email: this.email,
                status: this.status,
                classdata: this.classdata,
                faculty: this.faculty,
                degreelevel: this.degreelevel,
              })
              .then((res) => {
                alert("Petition Success");
                window.location.href = "index.html";
              })
              .catch(() => {
                alert("Petition Error");
              });
          },
        },
      }).mount("#app");
    </script>
  </body>
</html>
